:root {
  --sidebar-flex: 1.5;
  --fontsize-p: 1.2rem;
  --condiv-flex: 6;
  --fontsize-nav: 1.6rem;
  --typing-font: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 99vw;
  min-height: 100vh;
}

nav {
  padding: 60px 30px 0px 30px;
  flex: var(--sidebar-flex);
  background: #f8e7a1;
}

nav ul {
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style: none;
}

nav ul li {
  margin: 40px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.condiv {
  padding: 100px;
  background-color: #f9f9f9;
  flex: var(--condiv-flex);
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilepic {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin: 30px;
}

.social {
  position: absolute;
  margin: 20px;
  display: flex;
  bottom: 50px;
}

.social i {
  padding-right: 30px;
  font-size: 25px;
  color: #9a9b9c;
}

.social i:hover {
  color: #565656;
}
