:root {
  --sidebar-flex: 1.5;
  --fontsize-p: 2.2rem;
  --condiv-flex: 6;
  --fontsize-nav: 2.6rem;
  --typing-font: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 99vw;
  min-height: 100vh;
}

nav {
  padding: 60px 30px 0px 30px;
  flex: var(--sidebar-flex);
  background: #f8e7a1;
}

nav ul {
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style: none;
}

.nav-link {
  margin: 40px;
  transition: font-weight 0.1s ease-in-out,
    /* เปลี่ยนความหนาของฟอนต์ 0.3 วินาที */ font-size 0.1s ease-in-out;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  font-size: 3rem;
}

.nav-link.active {
  font-weight: bolder;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.condiv {
  padding: 100px;
  background-color: #fcfcf4;
  flex: var(--condiv-flex);
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.7s forwards;
}

.Home h1 {
  font-size: 50px;
}
.profilepic {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin: 30px;
}

.social {
  position: absolute;
  margin: 20px;
  display: flex;
  bottom: 50px;
}

.social i {
  padding-right: 30px;
  font-size: 30px;
  color: #9a9b9c;
}

.social i:hover {
  color: #565656;
}

.typingeffect {
  font-size: var(--typing-font);
  margin-bottom: 30px;
}

.About {
  text-align: center;
}

.Aboutcontent {
  opacity: 0;
  animation: fadeIn 0.7s forwards;
}

.About h3 {
  opacity: 0;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 10px 10px 20px 10px;
}

.About p {
  text-align: left;
  text-indent: 4rem;
  font-size: 30px;
}

.subtopic {
  margin: 10px 10px 30px 10px;
  font-size: 60px;
}

.schoolpic {
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin: 5px;
}

.widecard {
  display: flex;
  margin: 30px 30px 30px 10px;
  transition: 0.3s;
  border-radius: 10px;
  padding: 0.5rem;
  animation: Slidein 0.7s forwards;
}

.widecard:hover {
  color: #f9f9f9;
  background: #1c2e4a;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 3);
}

.widecard-con {
  text-align: left;
  margin: 5px auto auto 10px;
  font-size: 30px;
}

.skills ul {
  opacity: 0;
  display: flex;
  border-radius: 10px;
  font-size: 25px;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  animation: fadeIn 0.7s forwards 
}

.skills li {
  list-style: none;
  margin: 30px;
  text-align: center;
  font-size: 30px;
}

.language-logo {
  width: 300px;
  height: 300px;
  object-fit: contain;
  margin-bottom: 10px;
}

.language-item {
  opacity: 0; 
  transform: translateY(20px); 
  animation: fadeIn 0.6s ease-out forwards;
}

.contact-det {
  font-size: 20px;
  margin: 20px 0px 20px 10px;
}
