:root {
  --sidebar-flex: 1.5;
  --fontsize-p: 1.2rem;
  --condiv-flex: 6;
  --fontsize-nav: 1.6rem;
  --typing-font: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 99vw;
  min-height: 100vh;
}

nav {
  padding: 60px 30px 0px 30px;
  flex: var(--sidebar-flex);
  background: #f8e7a1;
}

nav ul {
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style: none;
}

nav ul li {
  margin: 40px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.condiv {
  padding: 100px;
  background-color: #f9f9f9;
  flex: var(--condiv-flex);
}


.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilepic {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin: 30px;
}

.social {
  position: absolute;
  margin: 20px;
  display: flex;
  bottom: 50px;
}

.social i {
  padding-right: 30px;
  font-size: 25px;
  color: #9a9b9c;
}

.social i:hover {
  color: #565656;
}

.typingeffect {
  font-size: var(--typing-font);
  margin-bottom: 30px;
}

.About {
  text-align: center;
}

.About h3 {
  font-size: 30px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 10px 10px 20px 10px
}

.About p {
  text-align: left;
  text-indent: 3rem;
}

.subtopic {
  margin: 10px 10px 30px 10px
}

.schoolpic {
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin: 5px;
}

.widecard {
  display: flex;
  margin:30px 30px 30px 10px;
  transition: .3s;
  border-radius: 10px;
  padding:.5rem
}

.widecard:hover {
  color:#f9f9f9;
  background:#1C2E4A;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 3);
}

.widecard-con {
  text-align:left;
  margin:5px auto auto 10px;
  font-size: 30px;
}

.skills ul {
  display: flex;
  background-color: #1C2E4A;
  border-radius: 10px;
  color: #fff;
  font-size: 25px;
  flex-wrap: wrap;
}

.skills li {
  list-style: none;
  margin: 30px;
}